html {
    font-family: 'Ubuntu', sans-serif;
}

/* KAYCEE CSS */

/** kaycee's css**/

/** HEADER **/

section.first_half {
    padding: 0;
    margin: 0;
    /* margin-top:0px;
    margin-bottom:0px; */
    justify-content: center;
    align-content: center;
    justify-items: center;
    font-size: 18px;
}

h1, h2, h3 {
    font-weight: normal;
    font-size: 24px;
}

a {
    text-decoration: none; /*Remove underline of links*/
    color: black;
}

/* HEADER SECTION */

header {
    display: flex;
    flex-direction: row;
    margin-top: -0.5em; /* remove the white gap between header nav bar and the top */
}

header, .hd_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    
    /* margin-left: 10%; */
}

.hd_nav {
    max-width: 100%;
    /* margin-left: 15em; */
}

.hd_nav p {
    font-size: 12px;

}

/* Horizontally align Home button, and move it down a bit */
ul.hd_nav a.hd_homebutton_one_icon > p { 
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 50%;
   
}

/*Scale down the Metrolics logo, and move it down */
.hd div.logo > img.logo_image { 
    float: right;
    right: 0;
    max-width: 90%;
    height: auto;
    position: relative;
    margin-top: 25%;
    
}

/* Make 5 elements: Home, Page, Blog, Porfolio, Home to row */
.hd_nav { 
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    list-style-type: none; /* Remove bullets */
    position: relative;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    /* transform: translate(-25%, -25%); */
}

/* Change text colour, remove link's underline */
.hd_nav > li > a > p { 
    color: rgb(255, 255, 255);
    text-decoration: none; /*Remove underline of links*/
    margin: 0;
    padding: 0;
    justify-content: center;
    /* align-items: left; */
    text-align: left;
    transform: translate(20%, 200%);  
}

.hd_icons {
    transform: translate(0%, 30%);
}

/* Set sizes for the nest nav bar */
.hd_nav > li {
    margin: 0;
    width: 6em;
    height: 6em;
    position: relative;
    margin-top: 0;
    left: 0;
}

/* ADD COLOURS TO 5 ELEMENTS IN THE NAV BAR */

.hd_homebutton_one {
    background-color: #25c389;  
}

.hd_pagesbutton {
    background-color: #ffb901;
}

.hd_blogbutton {
    background-color: #de6262;
}

.hd_porfoliobutton {
    background-color: #1691bd;
}

.hd_homebutton_two {
    background-color: #166ba2;
}

/* SLIDER */

.top_fullwidth_section {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    background-image: url("../imgs/fullwidth_pic.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    /* width: 100%; */
    height: 20em;
    margin-left: 15%;
    margin-right: 15%;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    /* transform:  translate(0%, 50%); */
 
}

.top_fullwidth_graybackground {
    background-color: #cfcfcf;
    background-size: cover;
    width: 100%;
    height: auto;
    float:left;
    clear:none; 
    justify-content: center;
    align-content: center;
    transform: translate(0%, 0%);
    margin-bottom: 3em;
    margin-left: -0.5em; /* remove white gap on the left */
    padding-right: 1em; /* remove white gap on the right */
}

.top_fullwidth_graybackground {
    position:relative;
    margin-top: auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* top: 0;
    left: 0; */
}


.top_fullwidth_graybackground:before {
    content:""; /* so that it shows up */
    height:100%; /* so it takes up the full height */
}

/* ARROWS */
.arrows {
    cursor: pointer;
    position: absolute;
    margin-top: 0;
    width: 0;
    height: 0;
    border-style: solid;  
}

div.arrow_left {
    border-width: 10px 40px 30px 0;
    border-color: transparent;
    left: 0;
    margin-left: 30px;
    
}

div.arrow_right {
    border-width: 10px 0px 30px 0px;
    border-color: transparent;
    right: 2em;
    margin-right: 30px;
}

.slider_contents {
    overflow: hidden;
    position: relative;
    width: auto;
    margin-left: 15%; 
    margin-right: auto;
}


/* HOME SERVICE */

.section_services > p.center_headers {
    background-color: royalblue;
    font-size: 8px;
    padding: 0;
    margin: 0;
}

/* SLIDER CONTENTS */

.slider_contents > div {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
}

/* give 3 slider contents white background colour */
.slider_content_one, .slider_content_two, .slider_content_three {
    background-color: rgba(255, 255, 255, 0.959);
    padding: 0.3em;
    padding-left: 0.5em;
    /* width: -moz-fit-content;
    width: fit-content;
    block-size: fit-content; */
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    
}

/* Make the parents' div stick so that the childs' could be overlap on top */
.borderleft_one, 
.borderleft_two, 
.borderleft_three {
    position:absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
}

/* Expand floated child: borderleft div's height 
to parent's: slider_content123 height? */
.slider_content_one, 
.slider_content_two,
.slider_content_three {
    overflow: hidden;
    position: relative;
}

.slider_content_one > div.borderleft_one {
    background-color: #186aa2;
    width: 5px;
    height: 100%;
    align-items: stretch;
    float: left;
}

.slider_content_two > div.borderleft_two {
    background-color: #de6262;
    width: 5px;
    height: 100%;
    align-items: stretch;
    float: left;
}

.slider_content_three > div.borderleft_three {
    background-color: #ffb901;
    width: 5px;
    height: 100%;
    align-items: stretch;
    float: left;
    /* padding: 2em; */
}


/* SECTION SERVICE */
.section_services {
    justify-content: center;
    margin-top: 20%;
    
}

.page_section_featured_items {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    display: grid;
    font-size: 16px;
    padding-left: 5em;
    padding-right: 5em;
    line-height: 24px;
    row-gap: 24px;
    
}

.page_section_featured_items div.featured_item_title {
    font-weight: bold;
    font-size: 12px;
    /* text-align: center; */
}

.featured_item_one,
.featured_item_two,
.featured_item_three,
.featured_item_four {
    text-align: center
}


.featured_item_one_content, 
.featured_item_two_content,
.featured_item_three_content,
.featured_item_four_content {
    font-size: 8pt;
    line-height: 12pt;
    color: rgb(150, 150, 150);
    text-align: center;
}



.home_page_intro, .section_services {
    text-align: center;
    grid-column: span 3;
    padding: 0;
    margin: 0;
}

.first_header {
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 3em;
}

h3 {
    margin-top: 2em;
}

h2 > span.blue_metrolics {
    color: #91c2eb
}


.third_header {
    text-align: center;
    grid-column: span 3;
    padding: 0;
    margin: 0;
 }

div > p.center_headers {
    font-size: 14px;
    margin-top: -1em;
    margin-bottom: 1em;
}

 .first_header, 
 .second_header, 
 .third_header  {
    font-size: 8px;
    margin-top: -2em;
    margin-bottom: 3em;
 }

 .section_blog {
    display: flex;
	flex-flow: column;
	justify-content: center;
    margin: auto;
	
 }

 .section_blog > .third_header, .entry_description {
    justify-content: center;
    margin: auto;
 }

    
.entry_description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px 50px;
    float: left;
    margin: 0 auto;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
 
}

.latest_work_section {
    /* width: 90%; */
    scale: 0.8;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin: auto;
}

.latest_work_section {
    display: grid;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.latest_work {
	position: relative;
}

.date_and_time {
    background-color: #d8605f;
    position: absolute;
    font-size: 12px;
    padding: 2em;
    height: 20%;
    /* width: 100px;
    height: 80px; */
    padding: 0;
    margin: 0;
}

.date_and_time > p {
    text-align: center;
    color: white;
    top: 0;
    padding: 0.5em;
    margin-top: 0.2em;
}

.sampletext {
    text-align: left;
    margin-left: 1em;
}

.sampletext p:nth-child(1) {
    font-weight: bold;
}

.sampletext p:nth-child(2) {
    margin-top: -1em;
}

.col-xs-12-1 {
    background-color: #19b2de;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 80px;
    padding: 0;
    margin: 0;
    bottom: 0;
}

#blue_bar_header {
    position: absolute;
    text-align: left;
    color: white;
    padding: 0;
    margin: 0;
    bottom: 1em;
    left: 1em;
}

.thumbnails {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
}

.thumbnails .bluebar {
    overflow: hidden;
    position: relative;
    scale: -0.9;
    pointer-events:none;
}


#blue_bar_icon {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 1em;
    right: 1em;
}

/* Kaycee's css end here*/



/* SARAH CSS */

.fourth_section_heading, .fifth_section_heading {
    text-align: center;
}

.fourth_section, .fifth_section, .last_main, .clients {
    display: grid;
    max-width: 1000px;
    margin: auto;
}

.fourth_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 10px;
    justify-content: center;
}

.grid_item img {
    width: 90%;
}

/*Accordion menu stats*/
.imgsection {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    justify-content: center;
}

/*design accordion menu*/
.accordionMenu {
    width: 80%;
    margin: 0 /*auto*/;
    padding: 0;
}

.accordionMenu input[type = radio] {
    display: none;
}

.accordionMenu label {
    display: block;
    height: 50px;
    line-height: 47px;
    padding: 0 25px 0 10px;
    background-color: #19b2de;
    font-size: 16px;
    color: #fff;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid gray;   
}

/* hide the contents of the menu*/
.accordionMenu label::after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #ffffff;
    right: 10px;
    top: 20px;
    z-index: 10;
    /* -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; */
    transition: all 0.3s ease-in-out;
}

.accordionMenu .content {
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition: all 2s ease-in-out;
}

.accordionMenu .content .inner {
    font-size: 1 rem;
    color: #000000;
    line-height: 1.5;
    background-color: #E0E0E0;
    padding: 5px 5px;
}

.accordionMenu .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Animation to the accordions*/
.accordionMenu input[type=radio]:checked + label:after {
    transform: rotate(90);
}

.accordionMenu input[type=radio]:checked + label + .content {
    max-height: 1000px;
    height: auto;
}

/*tabbed menu*/
.tab_menu {
max-width: 100%; 
margin: 0;
/* padding: 32px;  */
background: #fff;
}
a {
    color: #21D4FD; 
    transition: all 0.3s;
}
a:hover {
    color: white;
}

.tabbed {
    overflow-x: hidden; /* so we could easily hide the radio inputs */
    margin: 32px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.tabbed [type="radio"] {
    /* hiding the inputs */
    display: none;
}

.tabs {
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #ccc;
}
.tab > label {
    display: block;
    margin-bottom: -1px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    background: #eee;
    color: #666;
    font-size: 12px; 
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;	
    transition: all 0.3s;
}
.tab:hover label {
    border-top-color: #333;
    color: #333;
}

.tab-content {
    display: none;
    color: #777;
}

.tab-content figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.tab-content img {
    padding: 20px;
}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label {
    border-bottom-color: #fff;
    background: #fff;
    color: #222;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
    display: block;
}


/*tab and accordion align*/
.accor {
    margin: 0;
}
.fifth_section {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.clients {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
 }

.last {
    background-color: #16242f;
    color: white;
}

.portrait {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 10px;
 }

.portrait img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
 }

.portrait_info p {
     margin: 0;
 }

 .portrait_info p:nth-child(2) {
     font-style: italic;
 }

 .last-crow {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     margin-top: 5em;
     grid-gap: 20px;
 }

 footer .h_one {
     font-size: 1.5rem;
 }

 .sns {
     margin: 0px;
     display: grid;
     grid-template-columns: auto auto auto auto auto auto;
     align-items: center;
     padding: 1px;
 }

.flickr_mini {
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    padding: 0;
}

.mini {
    margin-left: 0;
    padding: 0;
}

.tweets-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.tweets-icon {
    margin-left: 0;
}

.tweets-cont img {
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(100%);
    padding: 5px;
}

.at_tweets {
    color: lightblue;
}

.words {
    padding: 10px;
}

/*email style*/
input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #de6262;
}
::placeholder {
    color: white;
}

input[type=image] {
    background-color: #ffb901;
    border: none;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 8px 0px;
    cursor: pointer;
    width: 25%;
}

.email {
    display: flex;
}

.last_end_one, .last_end_two, 
.last_end_three, .last_end_four, .last_end_five {
    width: 100px;
    height: 30px;
}

.last_end_one {
    background-color: #25c389;
}
.last_end_two {
    background-color: #ffb901;
}
.last_end_three {
    background-color: #de6262;
}
.last_end_four {
    background-color: #1691bd;
}
.last_end_five {
    background-color: #166ba2;
}

.end {
    display: flex;
    justify-content: flex-end;
}

/*hover effects*/
.grid_item {
    position: relative;
}

.image_one {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.boxes {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 75%;
    left: 38%;
    transform: translate(-50%, -50%);
    text-align: right;
    padding: 0;
    margin: 0;
}

.grid_item:hover .image_one {
    opacity: 0.3;
}

.grid_item:hover .boxes {
    opacity: 1;
}

.inner_box {
    color: black;
    text-align: left;
}

/*line coloring*/
.new_one {
    border-bottom: 2px solid #25c389;
    padding: 10px;
}

.new_two {
    border-bottom: 2px solid #ffb901;
    padding: 10px;
}

.new_three {
    border-bottom: 2px solid #de6262;
    padding: 10px;
}

.new_four {
    border-bottom: 2px solid #1691bd;
    padding: 10px;
}
/**Sarah's Css end**/
