@media screen and (max-width: 39.9375em) {
	.fourth_section {
		grid-template-columns: repeat(1, 1fr);
		margin: auto 3em auto;
	}

	.fifth_section {
		display: grid;
		grid-template-columns: 100%;
		margin: auto 4em auto;
	}

	.accordionMenu {
		width: 100%;
	}

	.last-crow {
		grid-template-columns: 1fr;
		margin: auto 4em auto;
	}

	.portrait img {
		width: 160px;
    	height: 160px;
	}
}