<<<<<<< HEAD
.section4 {
    text-align: center;
   }

.imgsection {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    align-items: center;
    justify-items: center;
    column-gap: 0px;
  }

  .imgs1 {
    margin: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  /* .imgs1 img {
    width: 250 px;
  } */

  .section5 {
      text-align: center;
  }

  /* Accordion menu*/
  .accordionMenu{
        width: 500px;
        margin: 0 auto;
    }


    .accordionMenu input[type=radio]{
        display: none;
    }
    .accordionMenu label{
        display: block;
        height: 50px;
        line-height: 47px;
        padding: 0 25px 0 10px;
        background: #2c97de;
        font-size: 18px;
        color: #fff;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid #e6e6e6;
    }

    /*hide Accordion menu*/
    .accordionMenu label::after{
        display: block;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 10px;
        border-color: transparent transparent transparent #ffffff;
        position: absolute;
        right: 10px;
        top: 20px;
        z-index: 10;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition:all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .accordionMenu .content{
        max-height: 0;
        height: 0;
        overflow: hidden;
        -webkit-transition: all 2s ease-in-out;
        -moz-transition: all 2s ease-in-out;
        -o-transition: all 2s ease-in-out;
        transition: all 2s ease-in-out;
    }
    .accordionMenu .content .inner{
        font-size: 1.2rem;
        color: #2c97de;
        line-height: 1.5;
        background: white;
        padding: 20px 10px;
    }
=======
/** kaycee's css**/

.header > .logo .header_elements {
    display: flex;
    align-items: flex-start;
    margin: auto;
    font-display: block;
    justify-content: center;
}
.logo_image {
    /* display: inline-block; */
    left: 0;
    top: 0;
    max-width: 40%;
    height: auto;
}

.header_elements {
    display: inline-flex;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    flex-direction: row;
   
  
}

.header_elements a {
    text-decoration: none; /*Remove underline of links*/
    
}
>>>>>>> ca4c676bd27abaeb54fa2fda7304f21e28cf8bdb
