/** kaycee's css**/

.header {
    margin: auto;
    font-display: block;
    align-items: center;
}
.logo_image {
    left: 0;
    top: 0;
    max-width: 30%;
    height: auto;
}

.header_elements {
    flex-direction: row;
}
