/** kaycee's css**/

/** HEADER **/

.header {
    display: grid;
    grid-template-columns: 30% 70%;
    /* justify-content: center;
    align-content: center;
    padding: 0px; */




   
}




.logo_image {
    /* display: inline-block; */
    /* left: 0;
    top: 0; */
    max-width: 30%;
    height: auto;
   
}

.header_elements {
    max-width: 100%;
    /* display: flex; */
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    flex-direction: row;

  
}

.header_elements a {
    text-decoration: none; /*Remove underline of links*/
    /* text-align: center;
    */
    padding: 1em;
}

.header_homebutton1_background {
    /* width: 120px;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #25c389;
    position: relative; */
}

.header_homebutton1_icon .header_homebutton1_background {
    position: absolute;
    align-items: center;
    text-align: center;
}
