/** kaycee's css**/

.header {
    display: flex;
    /* padding: 0;
    margin: 0; */
    align-items: flex-start;
    margin: auto;
    font-display: block;
    justify-content: center;
}

.logo_image, .header_elements {
    display: inline-block;
  
}

.logo_image {
    /* display: inline-block; */
    /* left: 0;
    top: 0; */
    max-width: 40%;
    height: auto;
}

.header_elements {
    max-width: 100%;
    left: 0;
    display: flex;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    flex-direction: row;
    align-items: flex-start;
  
}

.header_elements a {
    text-decoration: none; /*Remove underline of links*/
    text-align: center;
}


