.section4 {
    text-align: center;
   }

.imgsection {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    align-items: center;
    justify-items: center;
    column-gap: 0px;
  }

  .imgs1 {
    margin: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  /* .imgs1 img {
    width: 250 px;
  } */

  .section5 {
      text-align: center;
  }
  /*Accordion menu stats*/
  /*design accordion menu*/
  .accordionMenu {
      width: 500px;
      margin: 0 auto;
  }

  .accordionMenu input[type = radio] {
      display: none;
  }

  .accordionMenu label {
      display: block;
      height: 50px;
      line-height: 47px;
      padding: 0 25px 0 10px;
      background-color: #19b2de;
      font-size: 16px;
      color: #fff;
      position: relative;
      cursor: pointer;
      border-bottom: 1px solid gray;   
  }

  /* hide the contents of the menu*/
  .accordionMenu label::after {
      display: block;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 10px;
      border-color: transparent transparent transparent #ffffff;
      right: 10px;
      top: 20px;
      z-index: 10;
      /* -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out; */
      transition: all 0.3s ease-in-out;
  }

  .accordionMenu .content {
      max-height: 0;
      height: 0;
      overflow: hidden;
      transition: all 2s ease-in-out;
  }

  .accordionMenu .content .inner {
      font-size: 1.2rem;
      color: #2c97de;
      line-height: 1.5;
      background-color: lightgray;
      padding: 20px 10px;
  }

  /*Animation to the accordions*/
  .accordionMenu input[type=radio]:checked + label:after {
      transform: rotate(90);
  }

  .accordionMenu input[type=radio]:checked + label + .content {
      max-height: 1000px;
      height: auto;
  }
    /* 
  
    .accordionMenu .content{
    
        -webkit-transition: all 2s ease-in-out;
        -moz-transition: all 2s ease-in-out;
        -o-transition: all 2s ease-in-out;
     
    }


    .accordionMenu input[type=radio]:checked + label:after{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    
    .accordionMenu input[type=radio]:checked + label + .content{
        max-height: 2000px;
        height: auto;
    } */