/** kaycee's css**/

/** HEADER **/

html {
    padding: 0;
    margin: 0;
    margin-top:0px;
    margin-bottom:0px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none; /*Remove underline of links*/
    color: black;
}

.page_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding: 0;
    margin: 0;
    top: 0;
}



.header_elements {
    max-width: 100%;
    height: auto;
}

ul.header_elements a.header_homebutton1_icon > p { /* Horizontally align Home button, and move it down a bit */
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 50%;
   
}


.header div.logo > img.logo_image { /*Scale down the Metrolics logo, and move it down */
    grid-template-columns: 1fr 1fr 1fr;
    /* float: left;
    left: 0; */
    max-width: 70%;
    height: auto;
    position: relative;
    
}

.header_elements { /* Make 5 elements: Home, Page, Blog, Porfolio, Home to row */

    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    list-style-type: none; /* Remove bullets */
    position: relative;
    text-align: center;
    transform: translate(-25%, -25%);
}




.header_elements > li > a { /* Change text colour, remove link's underline */
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none; /*Remove underline of links*/
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    transform: translate(0%, 10%);
   
    
}








.header_elements > li {
    width: 6em;
    height: 6em;
    position:relative;
}

.header_homebutton1 {
    background-color: #25c389;
    
}


.header_pagesbutton {
    background-color: #ffb901;
}

.header_blogbutton {
    background-color: #de6262;
}

.header_porfoliobutton {
    background-color: #1691bd;
}

.header_homebutton2 {
    background-color: #166ba2;
}

.top_fullwidth_background, .top_fullwidth_picture {
    position: relative;
}


/* .top_fullwidth_section {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-image: url("fullwidth_pic.png");
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 80%;
    height: 300px;
    display: block;
    
} */


.top_fullwidth_section {
    display: flex;
    position: relative;
    left: 0;
    margin-left: 0;
    margin-right: 0;
    background-image: url("fullwidth_pic.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    left: 0;
    max-width: 100%;
    
    /* transform:  translate(0%, 50%); */
 
}







/* display: flex;
    margin-left: 0;
    background-color: #cfcfcf;
    width: 800px;
    height: 300px;
    float:left;
    clear:none; 
    justify-content: center;
    align-content: center; */








.arrows {
    cursor: pointer;
    position: absolute;
    top: 25%;
    /* margin-top: 20px; */
    width: 0;
    height: 0;
    border-style: solid;


}

#arrow_left {
    border-width: 30px 40px 30px 0;
    border-color: transparent;
    left: 0;
    margin-left: 30px;
}

#arrow_right {
    border-width: 30px 0px 30px 40;
    border-color: transparent;
    right: 0;
    margin-right: 30px;
}


section.top_fullwidth_section div.slider_contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    left: 0;
    margin-left: 5em;
    
    
}






.slider_content_1, .slider_content_2, .slider_content_3 {
    background-color: rgba(255, 255, 255, 0.959);
    background-size: 400px;
    padding: 0.3em;
    margin: 0.1rem;
    
}

.slider_content_borderleft1, 
.slider_content_borderleft2, 
.slider_content_borderleft3 {
    position:absolute;
   
}

.slider_content_borderleft1 {
    background-color: #186aa2;
    background-size: 2px 400px;
}



h3 {
    margin-top: -20;
}

.section_services {
    justify-content: center;
    
}

.page_section_featured_items {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    display: grid;
    font-size: 16px;
    padding-left: 5em;
    padding-right: 5em;
    /* grid-column-end: fr;
    grid-column-start: fr;
    grid-row-end: fr;
    grid-row-start: fr; */
    line-height: 24px;
    row-gap: 24px;
    
}

.page_section_featured_items div.featured_item_title {
    font-weight: bold;
    font-size: 12px;
    /* text-align: center; */
}

.featured_item_1,
.featured_item_2,
.featured_item_3,
.featured_item_4 {
    text-align: center
}


.featured_item_1_content, 
.featured_item_2_content,
.featured_item_3_content,
.featured_item_4_content {
    font-size: 8pt;
    line-height: 12pt;
    color: rgb(150, 150, 150);
    text-align: center;
}



.home_page_intro, .section_services {
    text-align: center;
    grid-column: span 3;
    padding: 0;
    margin: 0;
}

#first_header {
    padding: 3em;
}

h2 > span.blue_metrolics {
    color: #91c2eb
}



 #third_header {
    text-align: center;
    grid-column: span 3;
    padding: 0;
    margin: 0;
 }


 .section_blog {
    display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
	/* Add a 10px gap between columns  
	grid-column-gap: 10px; */
 }



.latest_work_section {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    font-size: 16px;
    padding-left: 10em;
    padding-right: 10em;
    
}

.entry_description {
    display: grid;
    left: 0;
    padding-left: 5em;
    padding-right: 5em;
    justify-content: center;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    font-size: 16px;
    grid-column-end: fr;
    grid-column-start: fr;
    grid-row-end: fr;
    grid-row-start: fr; 
    line-height: 24px;
    max-width: 960px;
	width: 95%;
	
    
}





.entry_description {
	position: relative;
}


/* .latest_work_1,
.latest_work_2,
.latest_work_3 {
    justify-content: center;
    
} */

.date_and_time {
    background-color: #d8605f;
    position: absolute;
    width: 100px;
    height: 80px;
    padding: 0;
    margin: 0;
}

.date_and_time > p {
    text-align: center;
    color: white;
}




.entry_description {
    /* background-color: blue; */
    position: relative;
}

.text_icon_bar {
    position: absolute;
}

.latest_work .bluebar {
    background-color: #19b2de;
    position: absolute;
    width: 255%;
    height: 80px;
    padding: 0;
    margin: 0;
}

a.thumbnail {
    display: flex;
    position: absolute;
    bottom: 0;
}

.entry_icon {
    position: relative;
    bottom: 0;
}




.sample_text {
    display: flex;
    position: relative;
    color:rgb(255, 255, 255);
    justify-content: end;
    margin-left: 1.5em;
    width: 100%;

}

div.bluebar {
    background-color: #19b2de;
    position: absolute;
    width: 100%;
    height: 80px;
    padding: 0;
    margin: 0;
    
}
