.imgsection {
    padding: 0;
    margin-bottom: 30px;
}

.imgsection .imgs1 {
    display: block;
    text-align: center;
    font-size: 12px;
    font-size: 0.75rem;
}

.imgs1 {
    display: block;
}

/* .imgs1 .img {
    display: block;
    width: 100%;
    overflow: hidden;
    height: 180px;
    margin: 0 0 20px;
    position: relative;
  } */ 